@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
    --primary-color: #ea580c;
    /* --primary-color: royalblue; */
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
    --font-color: #234567;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    width: 100%;
}

html {
    /* background: url(images/Hexagon\ \(7\).svg) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    margin: 2rem 0rem;
}

p {
    font-size: 20px;
}

h1 {
    text-transform: capitalize;
}


/** spaces **/

.margin-md {
    margin: 2rem;
}


/** container **/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 900px;
    width: 100%;
    margin: auto;
}


/** links **/

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1rem auto;
    border-radius: 2rem;
}

.link-secondary {
    max-width: 140px;
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


/** look into BEM naming convention for CSS **/


/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/** navigation **/

.navigation {
<<<<<<< HEAD
    color: #234567;
    padding: 0.8rem;
    height: 50px;
=======
    /* background-color: var(--primary-color); */
    color: #234567;
    padding: 0.8rem;
    /* border-bottom-left-radius: 1rem; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
    /* position: fixed; */
    /* margin-bottom: 2rem; */
    /* border-bottom: 3px solid var(--primary-color); */
    /* border-bottom: 2px solid white;
    border-bottom: 2px solid var(--font-color); */
>>>>>>> parent of ed8fff7 (nav position fixed)
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 18px;
    /* margin-top: 0.3rem; */
<<<<<<< HEAD
    display: inline;
    float: inline-start;
=======
    margin-left: 0.8rem;
    padding-top: 0.2rem;
>>>>>>> parent of ed8fff7 (nav position fixed)
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
}

.navigation .nav-pills {
    text-align: end;
    margin: 0.6rem 1rem;
}

.navigation .link {
    color: var(--primary-color);
    font-size: 17px;
}

.navigation .link-active {
    font-weight: bold;
}

.divPrimaryColor {
    background-color: var(--primary-color);
    height: 0.3em;
    /* border-radius: 90em; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.divWhiteColor {
    background-color: white;
    height: 0.1em;
    /* border-radius: 90em; */
}

.divFontColor {
    background-color: var(--font-color);
    height: 0.2em;
    /* border-radius: 90em; */
    /* margin-bottom: 1rem; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}


/** header **/

.hero {
    padding: 2rem;
    padding-top: 4rem;
}

.hero .hero-img {
    max-width: 70%;
    width: 550px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--font-color);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}


/** sections **/

.section {
    padding: 2rem;
    margin: 0rem 0rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}


/** footers **/

.footer {
    /* background-color: var(--primary-color); */
    /* width: 1000px; */
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
    color: var(--font-color);
    /* border-top-right-radius: 1rem; */
    /* background-color: #ea580c; */
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: 550;
    font-size: 18px;
    color: var(--font-color);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-header .list-item-inline {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


/** projects **/

.showcase-list {
    /* padding: 2rem; */
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 3rem auto;
    width: 100%;
    border: 2px solid var(--primary-color);
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 16px 0 rgba(0, 0, 0, 0.19);
}

.showcase-list h1 {
    margin: 0.5rem;
}

.showcase-list p {
    padding-bottom: 1rem;
}


/** blogs **/

.showcase-blog {
    padding-bottom: 6rem;
}


/* buttons */

#btn-Primary {
    font-size: 15px;
    font-weight: bold;
    width: 95px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
}

#btn-Primary:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.4);
}

#btn-Secondary {
    background-color: var(--off-white);
    font-size: 15px;
    font-weight: bold;
    width: 90;
    height: 30px;
    border-radius: 3px;
    margin-top: 0.5rem;
    border: 1px solid black;
}

#btn-Secondary:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.4);
    background-color: white;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
}

#btn-Nav {
    position: relative;
    margin: auto;
    padding: 12px 3px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

#btn-Nav:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: white;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

#btn-Nav span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #234567;
}

#btn-Nav svg {
    position: relative;
    top: 0;
    margin-left: 1px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ea580c;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}

#btn-Nav:hover:before {
    width: 100%;
    background: white;
    cursor: pointer;
}

#btn-Nav:hover svg {
    transform: translateX(0);
    cursor: pointer;
}

#btn-Nav:active {
    transform: scale(0.95);
    cursor: pointer;
}


/* Social Media Buttons */

.btn-S {
    font-size: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-color);
    position: center;
    transition: all 0.5s;
    z-index: 1;
    display: inline;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 900;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.btn-S:hover {
    color: black;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.nameSocial {
    font-size: 15px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    body {
        max-width: 100%;
        width: 100%;
    }
    .list-item-inline {
        display: inline;
        padding: 0rem;
    }
    .container-center {
        width: auto;
    }
    .link-primary {
        display: block;
    }
    .btn-S {
        font-size: 25px;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        color: var(--primary-color);
        position: center;
        transition: all 0.5s;
        z-index: 1;
        display: inline;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 900;
    }
    .btn-S:hover {
        color: black;
    }
    .nameSocial {
        font-size: 15px;
        font-weight: 100;
        display: flex;
        flex-direction: column;
    }
    /** navigation **/
    .navigation {
        background-color: white;
        color: #234567;
        /* padding: 0.8rem; */
        position: fixed;
        width: 100%;
        /* height: 1rem; */
        /* border-bottom-left-radius: 1rem; */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        /* position: fixed; */
        /* margin-bottom: 2rem; */
        /* border-bottom: 3px solid var(--primary-color); */
        /* border-bottom: 2px solid white;
    border-bottom: 2px solid var(--font-color); */
        text-align: right;
        /* padding-top: 0.8rem; */
        /* padding-bottom: 0.8rem; */
        display: flex;
        flex-direction: column;
    }
    .nav-brand {
        font-weight: bold;
        float: left;
        font-size: 15px;
        /* margin-left: 0.8rem; */
        /* padding-top: 0.2rem; */
        /* margin-bottom: 8rem; */
        text-align: start;
        display: flex;
    }
    .nav-brand a {
        text-decoration: none;
        color: inherit;
    }
    .navigation .nav-pills {
        /* margin: 0.6rem 1rem; */
        display: block;
        float: end;
    }
    .navigation .link {
        color: var(--primary-color);
        font-size: 17px;
    }
    .navigation .link-active {
        font-weight: bold;
    }
}