
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #ea580c;
  /* --primary-color: royalblue; */

  --off-white: #f3f4f6;
  --dark-gray: #6b7280;
  --font-color:#234567;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}

html { 
  /* background: url(images/Hexagon\ \(7\).svg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



hr {
  margin: 2rem 0rem;
}

p{
  font-size: 20px;
}

h1{
  text-transform: capitalize;
}


/** spaces **/

.margin-md {
  margin: 2rem;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
}

.link-secondary {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
  /* background-color: var(--primary-color); */
    color: #234567;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 18px;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: var(--primary-color);
  font-size: 20px;
}

.navigation .link-active {
  font-weight: bold;
}

/** header **/

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 70%;
  width: 550px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--font-color);
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/** sections **/

.section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/** footers **/

.footer {
  /* background-color: var(--primary-color); */
  padding: 2rem 1rem;
  text-align: center;
  color: var(--font-color);
  border-top-right-radius: 1rem;
  /* background-color: #ea580c; */
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight:550;
  font-size: large;
  color: var(--font-color);
}

.footer ul {
  padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
  /* padding: 2rem; */
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/** blogs **/

.showcase-blog {
  padding-bottom: 6rem;
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}

/* buttons */

#btn-Primary {
    background: var(--primary-color);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 1.3rem;
    box-shadow: 0.1em 0.1em;
   }
   
   #btn-Primary:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   #btn-Primary :active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }


   #btn-Secondary {
    background: wheat;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 1.3rem;
    box-shadow: 0.1em 0.1em;
    margin-top: 1rem;
   }
   
   #btn-Secondary:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;

   }
   
   #btn-Secondary :active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }


/* From cssbuttons.io by @alexmaracinaru */
#btn-Nav {
    position: relative;
    margin: auto;
    padding: 12px 3px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   #btn-Nav:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: white;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
   }
   
   #btn-Nav span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #234567;
   }
   
   #btn-Nav svg {
    position: relative;
    top: 0;
    margin-left: 1px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ea580c;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   #btn-Nav:hover:before {
    width: 100%;
    background: white;
   }
   
   #btn-Nav:hover svg {
    transform: translateX(0);
   }
   
   #btn-Nav:active {
    transform: scale(0.95);
   }

/* Social Media Buttons */


.btn-S {
  width: 55px;
  height: 50px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: var(--primary-color);
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-weight: 700; */
  position: center;
  transition: all 0.5s;
  z-index: 1;
  /* margin-bottom: 0.5rem; */
  display: inline;
 }
 
 .btn-S::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5px;
  height: 100%;
  /* background-color: var(--primary-color); */
  z-index: -1;
  transition: all 0.5s;
 }
 
 .btn-S:hover::before {
  width: 100%;
 }
 
 .btn-S:hover {
  color: black;
 }
 
 .btn-S:active:before {
  background: var(--font-color);
 }
