@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap');
:root {
    --primary-color: #4caf50;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
    --font-color: #234567;
    --primary-font: 'Baloo Bhai 2', cursive;
    --secondary-font: 'Bree Serif', serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.center {
    text-align: center;
}

.primary-heading {
    font-size: 54px;
    font-family: var(--secondary-font);
    padding: 10px 20px;
}

.description-primary {
    font-size: 25px;
    padding: 10px 10px;
    font-family: var(--primary-font);
}


/* navigation bar */

#navbar {
    position: sticky;
    top: 0px;
    box-shadow: 03px 4px 8px 0 rgba(0, 0, 0, .4);
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    background-color: #333;
    font-family: var(--primary-font);
    border-top: 2px solid var(--primary-color);
}

#navbar ul #nav-brand {
    font-family: var(--primary-font);
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    left: 0px;
}

#navbar ul li {
    border-right: 1px solid white;
}

#navbar ul li:first-child {
    border: none;
}

#navbar ul li:last-child {
    border: none;
}

#navbar ul li a {
    padding: 5px 25px;
    font-size: 19px;
    display: block;
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: black;
}

.link-active {
    background-color: var(--primary-color);
}


/* Header */

.header::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('images/bg05.jpg') center center/cover;
    opacity: 0.89;
}

.header {
    height: 550px;
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-heading {
    padding-bottom: 30px;
    font-family: var(--secondary-font);
    font-size: 56px;
    color: var(--primary-color);
    text-shadow: 5px 5px 9px rgba(0, 0, 0, .4);
}

.header-secondary-heading {
    padding-bottom: 30px;
    font-family: var(--secondary-font);
    font-size: 30px;
    color: black;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header ul li a {
    padding: 20px 34px;
    color: var(--primary-color);
    margin: 20px 20px;
}

.header ul li a:hover {
    color: white;
    transition: 0.4s;
}


/* Technology Section */

#technology-container {
    margin: 50px;
}

#technology {
    padding: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#technology .box {
    display: flex;
    flex-direction: column;
    padding: 10px 34px;
    padding: 35px 40px;
    margin: 10px 24px;
    width: 450px;
    height: 450px;
    border: 2px solid gray;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    background-color: var(--off-white);
}

#technology .box img {
    display: block;
    width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}


/* Dealing section */

#dealing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4), -2px -2px 10px rgba(0, 0, 0, .4);
    background-color: #333;
    padding: 20px 0px;
}

#dealing-container h1 {
    color: white;
}

#dealing-container p {
    color: white;
}

#dealing-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

#dealing-images img {
    margin: 20px 34px;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    transition: all;
}

#dealing-btn {
    display: flex;
}


/* Project Section */


/* #projects-container::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 410px;
    z-index: -1;
    background: url('images/bg06.jpg') no-repeat center center/cover;
    opacity: 0.89;
} */

#projects-container {
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 10px 30px;
}


/* #projects-container h1 {
    color: white;
} */

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

#projects .box {
    margin: 10px auto;
    border: 2px solid black;
    align-items: center;
    background-color: black;
    color: var(--primary-color);
    font-family: var(--primary-font);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

#projects .box:hover {
    cursor: pointer;
    opacity: 0.89;
    transition: 0.2s;
    border: 2px solid var(--primary-color);
    transform: scale(1.05);
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

#projects .box img {
    width: 260px;
    height: 120px;
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#projects-container .btn-primary {
    margin: auto;
}


/* Footer */

#footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: var(--primary-font);
    font-size: 20px;
}

#connect-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#connect-ul li {
    margin: 20px 40px;
}

#connect-ul li a {
    padding: 5px 10px;
    color: white;
}

#connect #connect-heading {
    font-size: 20px;
}


/* Social Media Buttons */

.btn-S {
    font-size: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-color);
    position: center;
    transition: all 0.5s;
    z-index: 1;
    display: inline;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); */
    text-shadow: -1px -1px 3px #020202, 2px 2px 4px #1b1b1b;
}

.btn-S:hover {
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.nameSocial {
    font-size: 15px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}


/* buttons */

.btn-primary {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 25px;
}

.btn-primary:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.4);
}

.btn-secondary {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--secondary-font);
    background-color: var(--off-white);
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secondary:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.4);
}