@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body {
    font-family: 'Nunito', sans-serif;
}

hr {
    margin: 2rem 0rem;
}

:root {
    --primary-color: #1d4ed8;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.7rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.7rem;
    border: 1px solid var(--primary-color);
}